# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
.idea
.idea/.gitignore
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
src/main/resources/
src/test/
